.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.rive-container {
  height: 70vh;
  width: 100%;
  background-color: #190087;
  margin: 0;
  padding: 0;
}

.demo-controls {
  padding: 10px;
}

.demo-controls button {
  margin-right: 10px;
  margin-bottom: 10px;
}
